on:
  push:
    branches:
      - main

name: aur

jobs:
  aur-git:
    runs-on: ubuntu-latest
    if: |
      ${{ !contains(github.event.head_commit.message, 'chore(main): release') }}
    steps:
      - uses: actions/checkout@v4

      - name: Set pkgver
        run: sed -i -e 's/PACKAGE_VERSION/${{ github.ref_name }}.${{ github.sha }}/g' PKGBUILD-git

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: commitlint-go-git
          pkgbuild: ./PKGBUILD-git
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated update for commitlint-go-git AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519
